@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-content: #000000;
  --color-primary: #DD1810;
  --color-primary-content: #ffffff;
  --color-secondary: #5F72D9;
  --color-secondary-content: #ffffff;
  --color-accent: #FDD401;
  --color-accent-content: #000000;
  --color-neutral: #171717;
  --color-neutral-content: #ffffff;

}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #202020;
  --color-base-200: #303030;
  --color-base-300: #000000;
  --color-base-content: #ffffff;
  --color-primary: #DD1810;
  --color-primary-content: #ffffff;
  --color-secondary: #5F72D9;
  --color-secondary-content: #ffffff;
  --color-accent: #FDD401;
  --color-accent-content: #000000;
  --color-neutral: #171717;
  --color-neutral-content: #ffffff;
}

@theme {
  --red: #DD1810;
  --orange: #EC4928;
  --yellow: #FDD401;
  --green: #076A21;
  --blue: #5F72D9;
  --purple: #7640B4;
  --pink: #EFD5F2;
}
